<app-navbar></app-navbar>
<div class="container" style="margin-top: 10px;">
  <h2>MedienList {{ '(' }}{{ mediaCount }}{{ ')' }}</h2>
</div>
<div *ngIf="successMessage" class="alert alert-success" role="alert">
  {{ successMessage }}
</div>
<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{ errorMessage }}
</div>
<div class="container" style="margin-top: 50px;">
  <button class="btn" (click)="openCreateModal()" style="background-color: #024873; color: #F2B035;"><h6>+ Medium hinzufügen</h6></button>
  <div class="media-list-container">

    <div class="col-md-4" *ngFor="let media of medien">

      <div class="card mb-4">
        <div class="row no-gutters">
          <div class="col-md-12">
            <div class="watch-responsive watch-responsive-16by9">
              <iframe class="watch-responsive-item" [src]="media.urltrailer | safe" width="100%"></iframe>
            </div>
            </div>
          <div class="col-md-12">
            <div class="card-body" style="margin-left: 50px; height: 550px;">
              <h5 class="card-title">{{ media.titel }}</h5>
              <p class="card-text scrollable" >{{ media.beschreibung }}</p>
              <p class="card-text"><span style="font-weight: bold;">Release date:</span> {{ media.veroeffentlichungsjahr }}</p>

              <div class="pad-btm">
                <button class="btn btn-success" (click)="openEditModal(media)">Edit</button>
                <button class="btn btn-danger" (click)="confirmDelete(media.id)" style="margin-left: 5px;">Delete</button>
              </div>
              <app-bewertung [inputMedia]="media"></app-bewertung>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container" style="margin-top: 100px;">
  <h2>UserList {{ '(' }}{{ userCount }}{{ ')' }}</h2>
</div>
<div class="container" style="margin-top: 50px;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">ID</th>
        <th scope="col">Aktionen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let benutzer of benutzerprofile">
        <td>{{ benutzer.benutzername }}</td>
        <td>{{ benutzer.email }}</td>
        <td>{{ benutzer.id }}</td>
        <td>
          <!-- Buttons für Bearbeiten -->
          <button class="btn btn-primary" (click)="editBenutzer(benutzer)">Bearbeiten</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<hr style="margin-top: 100px;">
<app-footer></app-footer>
  <!-- Modal -->
  <div #editModalElement id="editModalMedia" class="modal" >
    <div class="modal-dialog modal-dialog-centered custom-modal-dialog" >
      <div class="modal-content" style="background-color: #025373;">
        <span class="close" (click)="closeEditModal()" style="color: #F2B035;
        margin-left: 5px;
        font-weight: bold;
        font-size:larger;">&times;</span>
        <h4 style="margin-left: 43%; color: #F2B035;">Edit Media</h4>
        <div class="form-group">
          <label for="editBeschreibung" style="margin-left: 5%; color: #F2B035;">Beschreibung:</label>
          <textarea id="editBeschreibung" style="margin-left: 5%; max-width: 90%; height: 350px;"
            class="form-control" [(ngModel)]="editMediaData.beschreibung"></textarea>
        </div>
        <div class="form-group">
          <label for="editVeroeffentlichungsjahr" style="margin-left: 5%; color: #F2B035;">Veröffentlichungsjahr:</label>
          <input id="editVeroeffentlichungsjahr" style="margin-left: 5%;max-width: 90%; "
            class="form-control" [(ngModel)]="editMediaData.veroeffentlichungsjahr" type="text">
        </div>
        <button class="btn btn-primary"  (click)="saveEditMedia()" style="margin: 5%; background-color: #F2B035; color: #025373" type="submit">Save</button>
    </div>
  </div>
</div>
  <!-- Modal -->
  <div #createModalElement id="createModal" class="modal" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #025373;">
        <div class="modal-header">
          <h4 class="modal-title" style=" color: #F2B035;">Neues Medium hinzufügen</h4>
          <button type="button" class="close" (click)="closeCreateModal()" style="background-color: #F2B035; color: #025373">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="newMediaTitle"  style=" color: #F2B035;">Title:</label>
            <input id="newMediaTitle" [(ngModel)]="newMediaData.titel" type="text" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" (click)="closeCreateModal()">Abbrechen</button>
          <button class="btn" (click)="createMedia()" style="background-color: #F2B035; color: #025373">Erstellen</button>
        </div>
      </div>
    </div>
  </div>
  
 <!-- Modal -->
 <div #editBnutzerModalElement id="editModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeEditModal()">&times;</span>
      <h4>Edit Benuzter</h4>
      <div>
        <label>Benutzername:</label>
        <input [(ngModel)]="editBenutzerData.benutzername" type="text">
      </div>
      <div>
        <label>Email:</label>
        <input [(ngModel)]="editBenutzerData.email" type="text">
      </div>
      <button class="btn btn-primary" (click)="saveEditBenutzer()">Save</button>
    </div>
  </div>