<app-navbar></app-navbar>
<div class="container" style="margin-top: 10px;">
  <h2>MedienList</h2>
</div>
<div class="container" style="margin-top: 50px;">
  <button class="btn" (click)="openCreateModal()" style="background-color: #024873; color: #F2B035;"><h6>+ Medium hinzufügen</h6></button>
  <div class="media-list-container">

    <div class="col-md-4" *ngFor="let media of medien">

      <div class="card mb-4">
        <div class="row no-gutters">
          <div class="col-md-12">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="" width="100%"></iframe>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card-body" style="margin-left: 50px; height: 550px;">
              <h5 class="card-title">{{ media.titel }}</h5>
              <p class="card-text">Genre: {{ media.genre }}</p>
              <p class="card-text">Regisseur: {{ media.regisseur }}</p>
              <p class="card-text">Veröffentlichungsjahr: {{ media.veroeffentlichungsjahr }}</p>
              <div class="pad-btm">
                <button class="btn btn-success" (click)="openEditModal(media)">Edit</button>
                <button class="btn btn-danger" (click)="confirmDelete(media.id)" style="margin-left: 5px;">Delete</button>
              </div>
              <hr>
              <app-bewertung [inputMedia]="media"></app-bewertung>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>

  
  <!-- Modal -->
  <div #editModalElement id="editModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeEditModal()">&times;</span>
      <h4>Edit Media</h4>
      <div>
        <label>Title:</label>
        <input [(ngModel)]="editMediaData.titel" type="text">
      </div>
      <div>
        <label>Genre:</label>
        <input [(ngModel)]="editMediaData.genre" type="text">
      </div>
      <div>
        <label>Regisseur:</label>
        <input [(ngModel)]="editMediaData.regisseur" type="text">
      </div>
      <div>
        <label>Veröffentlichungsjahr:</label>
        <input [(ngModel)]="editMediaData.veroeffentlichungsjahr" type="text">
      </div>
      <button class="btn btn-primary" (click)="saveEditMedia()">Save</button>
    </div>
  </div>
  
  <!-- Modal -->
  <div #createModalElement id="createModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeCreateModal()">&times;</span>
      <h4>Neues Medium hinzufügen</h4>
      <div>
        <label>Title:</label>
        <input [(ngModel)]="newMediaData.titel" type="text">
      </div>
      <div>
        <label>Genre:</label>
        <input [(ngModel)]="newMediaData.genre" type="text">
      </div>
      <div>
        <label>Regisseur:</label>
        <input [(ngModel)]="newMediaData.regisseur" type="text">
      </div>
      <div>
        <label>Veröffentlichungsjahr:</label>
        <input [(ngModel)]="newMediaData.veroeffentlichungsjahr" type="text">
      </div>
      <button class="btn btn-primary" (click)="createMedia()">Erstellen</button>
    </div>
  </div>
  <hr>
  <div class="container" style="margin-top: 100px;">
    <h2>UserList</h2>
  </div>

  <div class="container" style="margin-top: 50px;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">ID</th>
          <th scope="col">Aktionen</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let benutzer of benutzerprofile">
          <td>{{ benutzer.benutzername }}</td>
          <td>{{ benutzer.email }}</td>
          <td>{{ benutzer.id }}</td>
          <td>
            <!-- Buttons für Bearbeiten -->
            <button class="btn btn-primary" (click)="editBenutzer(benutzer)">Bearbeiten</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
 <!-- Modal -->
 <div #editBnutzerModalElement id="editModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeEditModal()">&times;</span>
      <h4>Edit Benuzter</h4>
      <div>
        <label>Benutzername:</label>
        <input [(ngModel)]="editBenutzerData.benutzername" type="text">
      </div>
      <div>
        <label>Email:</label>
        <input [(ngModel)]="editBenutzerData.email" type="text">
      </div>
      <button class="btn btn-primary" (click)="saveEditBenutzer()">Save</button>
    </div>
  </div>
  <hr style="margin-top: 100px;">
  <app-footer></app-footer>
