
<hr>
<h5 class="card-title commenter gold-color">Kommentare</h5>
<div class="card-body scrollable" >
  <div *ngFor="let comment of comments" class="comment-item" style="margin-top: 10px;">
    <div class="comment-header">
      <div class="dropdown" *ngIf="loggedInRole === 'ADMIN' || loggedInUserName === comment.benutzerprofil.benutzername ">
        <button class="dropdown-btn" (click)="toggleDropdown($event)">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </button>
        <div class="dropdown-content" style="border-color: transparent;" [ngClass]="{ 'open': isDropdownOpen }">
          <button (click)="deleteComment(comment.id)" class="btn btn-danger small-button">Delete</button>
          <button class="btn btn-warning small-button">Edit</button>
        </div>
      </div>
      <span class="commenter-name" style="font-size: large;">
        {{ comment.benutzerprofil.benutzername }}
      </span>
      <div class="star-rating" style="margin-left: 20px;">
        <span [ngStyle]="{ 'width.%': comment.bewertungswert * 20 }">
          <span class="star" *ngFor="let star of [1, 2, 3, 4, 5]" [ngClass]="{ 'selected': star <= comment.bewertungswert }">&#9733;</span>
        </span>
      </div>
    </div>
    <p class="comment-text" style="max-width: 88%;">
      {{ comment.kommentar }} 
    </p>
    <hr style="max-width: 85%;">
  </div>
</div>
<div class="mt-3" *ngIf="shouldShowDiv()">
  <div class="rating-container">
    <span class="rating-title">Bewertung: </span>
    <div class="star-rating" (mouseleave)="unhoverStars()">
      <span
        *ngFor="let star of [1, 2, 3, 4, 5]"
        class="star"
        [ngClass]="{
          'selected': star <= selectedStars,
          'hovered': star <= hoveredStars && star <= selectedStars
        }"
        [id]="'star-' + star"
        (click)="onStarClick(star)"
        (mouseenter)="hoverStars(star)"
        (mouseleave)="unhoverStars()">
        &#9733;
      </span>
    </div>
    <span class="selected-stars">{{ selectedStars }} von 5 Sternen ausgewählt</span>
    
    <span class="selected-stars" id="inputMedia.id">{{ selectedStars }} von 5 Sternen ausgewählt</span>
  </div>
  <textarea 
  [(ngModel)]="newComment"
  id="media.id"
  placeholder="Enter your comment"
  required="required"
  style="width: 100%; height: 80px;"></textarea>
  <br>
  <button (click)="addComment(inputMedia)" class="btn gold-color-background mt-2" [disabled]="isCommentEmpty()">Add Comment</button>
</div>
