/*design */
.gold-color{
    background-color: #F2B035;
}
.font-color-gold{
    color: #D97904; 
}
.card.dynamic-effect {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
.card.dynamic-effect:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/*scrollen */
.scrollable {
  width: 350px;
  height: 200px;
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.scrollable::-webkit-scrollbar {
  width: 0; 
  display: none; 
}

