<app-navbar></app-navbar>
<app-header></app-header>
<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col-md-4" *ngFor="let media of medien">
      <div class="card mb-4">
        <div class="row no-gutters">
          <div class="col-md-12">
            <div class="col-md-12">
              <div class="watch-responsive watch-responsive-16by9">
                <img [src]="media.imgSrc | safe"
                class="card-img-top" alt="{{ media.titel }}">              </div>
            </div>
                                                 
          </div>
          <div class="col-md-12">
            <div class="card-body">
              <h5 class="card-title">{{ media.titel }}</h5>
              <p class="card-text scrollable" >{{ media.beschreibung }}</p>
              <p class="card-text"><span style="font-weight: bold;">Release date:</span> {{ media.veroeffentlichungsjahr }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Bewertung</h5>
          <p>Bewertung</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
