.movie-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .trailer-section {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
  }
  
  .trailer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .trailer-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio for responsive iframe */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .trailer-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
  }
  
  .movie-info {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
  }
  