<app-navbar></app-navbar>
<div class="movie-details" *ngIf="movie">
    <div class="trailer-section">
      <h3>Watch the Trailer</h3>
      <div class="trailer-container">
        <!-- Embed the trailer video here -->
        <iframe width="560" height="315" [src]="movie.urltrailer | safe" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="movie-info">
      <h2>{{ movie.titel }}</h2>
      <div class="pad-btm">
        <div *ngFor="let category of movie.categories" class="d-inline-block" >
            <div class="" style="background-color: #024873; color: #F2B035; padding: 3px; margin-left: 3px; box-shadow: #024873; font-weight: bold; border-radius: 5px;  border: 1px solid #024873;">{{ category.name }}</div>
        </div>
      </div>
      <p>{{ movie.beschreibung }}</p>
      <app-bewertung [inputMedia]="movie"></app-bewertung>
    </div>
  </div>

<app-footer></app-footer>