.custom-navbar {
    background-color: #025373;
  }
.custom-navbar .nav-link {
  color: #F2B035;
}
.custom-navbar .navbar-nav {
  padding: 0.5rem;
}
.nav-link {
  font-size: 18px;
  transition: font-size 0.3s;
}
.nav-link:hover {
  font-size: 20px;
}


.containerLogo {
  display: flex;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #F2B035;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.logo{
  color: #F2B035;
}


