<nav class="navbar navbar-expand navbar-light custom-navbar">
  <a class="navbar-brand" routerLink="/" style="margin-left: 10px;">
    <div class="containerLogo">
      <h1 class="text-center logo">FakeFlix</h1>
    </div>
  </a>
  
  <ul class="navbar-nav mx-auto"> <!-- Center the navigation links -->
    <!-- Show "Login" link if the user is not logged in -->
    <li class="nav-item" *ngIf="!isLoggedIn">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>

    <!-- Show "Profile" and "Logout" links if the user is logged in -->
    <ng-container *ngIf="isLoggedIn">
      <li class="nav-item" *ngIf="isLoggedIn">
        <span class="nav-link">Welcome, {{ loggedInUserName }}</span>
      </li>
      <li class="nav-item" *ngIf="loggedInRole === 'ADMIN'">
        <a class="nav-link" routerLink="/media">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ng-container>
  </ul>
</nav>
